@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-cream: #f5f3ef;
  --color-stone: #eae7e0;
  --color-gold: #edd5ab;
  --color-darkOlive: #594d42;
  --color-charcoal: #1c2024;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-cream);
  color: var(--color-charcoal);
  font-family: var(--font-sans);
}
